body{
	background-color: #dfbacf33;
}

#top{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	background-color: white;
	text-align: center;
	text-decoration-color: red;
	color: #7e4eba;
}

.main_menu{
   list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #f8f1f5;
    width: 90%;
    margin:auto;
    border-bottom: 1px solid #95436e;
}

ul.main_menu li {
	/*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #ffff;*/
	float: left;
	width: 33%;
}

ul.main_menu li a {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    display: block;
    float: none;
    margin: auto;
    color: #95436e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 50%;
    border-top-left-radius: 6px;
    border-bottom: none;
    border-top-right-radius: 6px;
    border-style: hidden;
}

ul.main_menu li a:hover:not(.active) {
	color: #cca3ba;
}

ul.main_menu li a:hover:not(.active) {
	border: 1px solid;
	border-color: #cca3ba;
	border-style: none;
}

ul.main_menu li a.active {
	background-color: #DAC5D0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  float: none;
  margin: auto;
}

td, th {
  border-top: 1px solid #95436e;
  border-bottom: 1px solid #95436e;
  border-right: hidden;
  border-left: hidden;
  text-align: left;
  padding: 8px;
  color: #6f4259;
}

tr:nth-child(even) {
  background-color: #dfbacf33;
}

@media screen and (max-width: 600px){
    ul.main_menu li.right, 
    ul.main_menu li {
    float: none;
    }
}
/*
h2 {
	font-family: arial, sans-serif;
	color: #713b57;
	text-align: center;
}
*/
#form_div {
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
overflow:auto
}
img#close {
position:absolute;
right:-14px;
top:-14px;
cursor:pointer
}
/*
div#form_div {
position:absolute;
left:50%;
top:17%;
margin-left:-202px;
font-family:'Raleway',sans-serif
}
*/
form {
max-width:300px;
min-width:250px;
padding:10px 50px;
border:2px solid gray;
border-radius:10px;
font-family:raleway;
background-color:#fff
}
p {
margin-top:30px
}
/*
h2 {
background-color:#FEFFED;
padding:20px 35px;
margin:-10px -50px;
text-align:center;
border-radius:10px 10px 0 0
}*/

hr {
margin:10px -50px;
border:0;
border-top:1px solid #ccc
}
input[type=text] {
width:82%;
padding:10px;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway
}
#name {
background-image:url(../images/name.jpg);
background-repeat:no-repeat;
background-position:5px 7px
}
#email {
background-image:url(../images/email.png);
background-repeat:no-repeat;
background-position:5px 7px
}
textarea {
background-image:url(../images/msg.png);
background-repeat:no-repeat;
background-position:5px 7px;
width:82%;
height:95px;
padding:10px;
resize:none;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway;
margin-bottom:30px
}
#submit {
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:#FFBC00;
color:#fff;
border:1px solid #FFCB00;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px
}
span {
color:red;
font-weight:700
}
button {
width:10%;
height:45px;
border-radius:3px;
background-color:#cd853f;
color:#fff;
font-family:'Raleway',sans-serif;
font-size:18px;
cursor:pointer
}
