body{
	background-color: #dfbacf33;
}

#top{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	background-color: white;
	text-align: center;
	text-decoration-color: red;
	color: #7e4eba;
}

.main_menu{
   list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #f8f1f5;
    width: 90%;
    margin:auto;
    border-bottom: 1px solid #95436e;
}

ul.main_menu li {
	/*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #ffff;*/
	float: left;
	width: 33%;
}

ul.main_menu li a {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    display: block;
    float: none;
    margin: auto;
    color: #95436e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 50%;
    border-top-left-radius: 6px;
    border-bottom: none;
    border-top-right-radius: 6px;
    border-style: hidden;
}

ul.main_menu li a:hover:not(.active) {
	color: #cca3ba;
}

ul.main_menu li a:hover:not(.active) {
	border: 1px solid;
	border-color: #cca3ba;
	border-style: none;
}

ul.main_menu li a.active {
	background-color: #DAC5D0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  float: none;
  margin: auto;
}

td, th {
  border-top: 1px solid #95436e;
  border-bottom: 1px solid #95436e;
  border-right: hidden;
  border-left: hidden;
  text-align: left;
  padding: 8px;
  color: #6f4259;
}

h2 {
   font-family: arial, sans-serif;
   color: #713b57;
   text-align: center;
}

tr:nth-child(even) {
  background-color: #dfbacf33;
}

@media screen and (max-width: 600px){
    ul.main_menu li.right, 
    ul.main_menu li {
    float: none;
    }
}

#form_div {
	width:50%;
	padding:20px;
}

label {
	padding: 20px;
	color: #6f4259;
	font-family: arial, sans-serif;
}

#name, #email, textarea {
	width:100%;
	padding: 10px;
}
textarea {
	height:100px;
}
#name, #email {
    height: 30px;
}

#submit {
	    width: 90px;
    padding: 6px;
    text-align: center;
    background-color: #ffffff;
    color: #95436e;
}
